name: Build docker image

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:

env:
  ALPINE323: '3.23.0'
  ALPINE322: '3.22.2'
  ALPINE321: '3.21.5'
  ALPINE320: '3.20.8'

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      alpine-versions: ${{ steps.set-matrix.outputs.alpine-versions }}
    steps:
      - id: set-matrix
        run: |
          cat << 'EOF' > versions.json
          [
            {"version": "${{ env.ALPINE323 }}", "latest": "1", "latest_major": "1", "dev": ""},
            {"version": "${{ env.ALPINE322 }}", "latest": "", "latest_major": "", "dev": ""},
            {"version": "${{ env.ALPINE321 }}", "latest": "", "latest_major": "", "dev": ""},
            {"version": "${{ env.ALPINE320 }}", "latest": "", "latest_major": "", "dev": ""},
            {"version": "${{ env.ALPINE323 }}", "latest": "1", "latest_major": "1", "dev": "1"}
          ]
          EOF
          echo "alpine-versions=$(jq -c . versions.json)" >> $GITHUB_OUTPUT

  build:
    needs: setup
    strategy:
      matrix:
        alpine: ${{ fromJson(needs.setup.outputs.alpine-versions) }}
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build and push
        env:
          ALPINE_VER: ${{ matrix.alpine.version }}
          ALPINE_DEV: ${{ matrix.alpine.dev }}
          ARCH: ${{ matrix.arch }}
        run: |
          make
          make test
          make push

  push:
    runs-on: ubuntu-latest
    needs:
      - setup
      - build
    strategy:
      matrix:
        alpine: ${{ fromJson(needs.setup.outputs.alpine-versions) }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: ./.github/actions
        with:
          version: ${{ matrix.alpine.version }}
          latest: ${{ matrix.alpine.latest }}
          latest_major: ${{ matrix.alpine.latest_major }}
          dev: ${{ matrix.alpine.dev }}
